.app {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px;
}

body{
  background-image: url(./assets/background.jpg);
}


.container {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}
 
.weather-container{
  display: flex ;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0;
  width: 100%;
}

.weather-container div{
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
}

div i{
  font-size: 20px;
}

.location i{
  color: rgb(9,11,90);
}
.temp i{
  color: rgb(209, 196, 14);
}
.weather i{
  color: rgb(11,170,243);
}

.wind i{
  color: rgb(144, 162, 168);
}
.humidity i{
  color: rgb(11,170,233);
  margin-left: 4px;
} 